@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}


/* header */
header {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
header .inner {
	width: 1180px;
	height: 120px;
	margin: 0px auto;
	position: relative; /*자식 absolute 요소의 기준점 설정*/
}
header .inner h1 {
	position: absolute;
	left: 0px;
	bottom: 15px;

}
header .inner h1 a {
	font: bold 24px/1 "arial";
	color: #444;
}
/* header .inner .util {
	position: absolute;
	top: 20px;
	right: 30px;
}
header .inner .util li {
	float: left;
}
header .inner .util li a {
	display: block;
	font: 12px/1 "arial";
	color: #999;
	padding: 0px 10px;
} */
header .inner #gnb {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
header .inner #gnb li {
	float: left;
}
header .inner #gnb li a {
	display: block; /*인라인 요소는 block설정하여 크기를 조절가능*/
	font: bold 15px/1 "arial";
	color: #555;
	padding: 20px 40px;
	transition: all 0.5s;
}
header .inner #gnb li a:hover {
	background: rgb(0, 131, 253);
	color: #fff;
}




figure {
	width: 100%;
	height: calc(100vh - 120px); /*전체 브라우저 높이에서 120px만큼 빼줌*/
	background: #000;
	position: relative;
	overflow: hidden;
	padding-top: 250px;
}
figure video {
	object-fit: cover; /*영상을 figure안쪽에 꽉 차도록 설정*/
	width: 100%;
	height: 100%;
	/* opacity: 0.3; */
	position: absolute;
	top: 0px;
	left: 0px;
}
figure .inner {
	width: 1180px;
	margin: 0px auto;
	position: relative;
}
figure .inner h1 {
	font: normal 120px/1 "arial";
	color: #fff;
	margin-bottom: 20px;
	font-weight: 900;
}
figure .inner p {
	font: 16px/1.4 "arial";
	color: #888;
	margin-bottom: 60px;
}

figure .inner a:hover {
	background: #fff;
	color: #555;
}




/* news */
section {
	width: 100%;
	padding: 200px 0px;
	/* outline: 1px solid red; */
}
section .inner {
	width: 80%;
	margin: 0px auto;
	/* outline: 1px solid blue; */
}
section .inner h1 {
	font: bold 24px/1 "arial";
	color: #555;
	text-align: center;
	margin-bottom: 50px;
	/* outline: 1px solid red; */
}
/* section .inner .wrap {
	width: 100%;
	outline: 1px solid green;
} */
section .inner .wrap::after {
	/*자식 요소인 article의 float해제*/
	content: "";
	display: block;
	clear: both;
}

section .inner .wrap .aboutme_wrap{
	display: flex;
	/* outline: 1px solid pink; */
	/* margin: 10px; */
	/* background-color: rgb(250, 139, 139); */
}

section .inner .wrap .aboutme_wrap .aboutme_pic{
	/* outline: 1px solid red; */
	flex: 3;
	padding: 10px;
}
section .inner .wrap .aboutme_wrap .aboutme_pic img{
	width: 500px;
}



section .inner .wrap .aboutme_wrap .aboutme_text{
	/* outline: 1px solid red; */
	flex: 7;
}

section .inner .wrap .aboutme_wrap .aboutme_text H2{
	text-align: center;
	font-weight: bold;
}

section .inner .wrap .aboutme_wrap .aboutme_text p{
}


section .inner .wrap .contact_wrap {
	background-color: antiquewhite;
}

section .inner .wrap .contact_wrap p{
	text-align: center;
}

section .inner .wrap .skillsimg img{
	width: 150px;
	height: 150px;
	/* margin: 10px; */
	/* padding: 10px; */
	/* outline: 1px solid black; */
	
}

section .inner .wrap .skillsimg {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	
	
}

section .inner .wrap .container{
	display: flex;
	justify-content: center;
	text-align: center;
}

section .inner .wrap .container .portfolio_hmd{
	flex-basis: 100px;
	margin: 10px;
	transition: all 0.3s;
	border-radius: 15px;
}

section .inner .wrap .container .portfolio_hmd:hover{
	box-shadow: 5px 9px #ab9f9f;
	z-index: 1;
	transform: scale(1.025);  
}




section .inner .wrap .container img{
	width: 400px;
	height: 500px;
	outline: 1px solid gray;
	background-size: contain;
}


#pop{
	width: 800px;
	height: 600px;
	background-color: #000;
	color: white;
	position: absolute;
	top: 100px;
	left: 100px;
	text-align: center;	
}

#pop_bt{
	cursor: pointer;
}


#close{
	color: white;
}



/* footer */
footer {
	width: 100%;
	background: #333;
	padding: 100px 0px;
	border-top: 1px solid #888;
}
footer .inner {
	width: 1180px;
	margin: 0px auto;
}

        /* add */
        #add {
            position: fixed;
            top: 250px;
            right: 20px;
            background-color: rgb(236, 194, 230);
            width: 80px;
        }

